<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <p class="navbar-brand font-weight-bold">DAILY JOURNAL</p>
        <ul class="navbar-nav" style="flex-direction: row">
          <!-- 6 -->
          <li id="home" class="nav-item font-weight-bolder"><a class="nav-link" href="/">HOME</a></li>
          <li id="about" class="nav-item font-weight-bolder"><a class="nav-link" href="/about">ABOUT US</a></li>
          <li id="contact" class="nav-item font-weight-bolder"><a class="nav-link" href="/compose">Write Post</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
